<!-- shop/templates/shop/components/carousels/mainCarousel.html -->

{% load static %}
<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/angielska">
          <img src="{% static 'carousel/england.jpg' %}" alt="England" class="d-block w-100">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/niemiecka">
          <img src="{% static 'carousel/german.jpg' %}" alt="German" class="d-block w-100">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/wloska">
          <img src="{% static 'carousel/italy.jpg' %}" alt="Italy" class="d-block w-100">
        </a>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#mainCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  